body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: azure;
}

button {
    height: 2rem;
    width: 10rem;
    background-color: greenyellow;
    border-radius: 1rem;
    border-color: forestgreen;
}

h1 {
    margin: 0;
    visibility: hidden;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,min-content);
}

.container div {
    border: solid 1px black;
    width: 15rem;
    height: 15rem;
}

.container div:nth-child(odd) {
    background-color: white;
}

.container div:nth-child(even) {
    background-color: black;
}